#container {
    width: 60%;
    margin: 1rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00bcd4;
}

.list {
    border: 1px solid black;
    width: 80%;
    padding: 2rem .5rem;
    min-height: 2.5rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    background-color: #ff9800;
    margin: 1rem 0;
}